{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-4">
            <h1>Welcome!</h1>
            <p>This is an example Address Book. You can use it to add, edit delete contacts.</p>
            <a href="/all">All Contacts</a>
            <a href="/create" class="btn btn-success float-right">Add new</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
